{% extends "base.html" %}

{% block content %}

<!-- Hero Section -->
<section class="hero">
    <div class="container px-2 py-3">
        <div class="row flex-md-row-reverse py-3 m-0">
            
            <!-- Carousel Section -->
            <div class="col-md-7 col-lg-5 p-0 pl-md-5 align-self-center">
                <div id="carousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <!-- Carousel Slide 1 -->
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="https://res.cloudinary.com/dovrntxy9/image/upload/v1750670304/pz53vxwxlzaivjcxpqs4.webp" alt="scallops">
                        </div>
                        <!-- Carousel Slide 2 -->
                        <div class="carousel-item">
                            <img class="d-block w-100" src="https://res.cloudinary.com/dovrntxy9/image/upload/v1750670106/oopx4ekpxbdeyfps5vee.webp" alt="pizza">
                        </div>
                        <!-- Carousel Slide 3 -->
                        <div class="carousel-item">
                            <img class="d-block w-100" src="https://res.cloudinary.com/dovrntxy9/image/upload/v1750670065/xdaxr22cogczzspmtieq.webp" alt="dessert">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Hero Text -->
            <div class="col-md-5 col-lg-7 hero-text-outer text-center">
                <h1 class="mt-4 mb-2 hero-text">Welcome to Letters from Zaragoza</h1>
                <p>Discover the best restaurants in Zaragoza, Spain</p>        
            </div>

        </div>
    </div>
</section>

<!-- Features Section -->
<section class="container px-0">
    <div class="container">
        <!-- Features Section Title -->
        <div class="row">
            <div class="col-12">
                <h2 class="my-3 text-center page">Get Started</h2>
            </div>
        </div>  
        <hr class="home-break">
        <br>
    </div>

    <!-- Feature Links -->
    <div class="container-fluid feature-image-outer">
        <div class="row justify-content-center">

            <!-- Feature: Restaurants -->
            <div class="col-12 col-md-3 mb-2">
                <div class="feature-image mb-2">
                    <a href="{% url 'browse_restaurants' %}" aria-label="browse restaurants">
                        <i class="fas fa-utensils fa-5x"></i>
                    </a>
                </div>
                <div>
                    <h3 class="feature-title">Restaurants</h3>
                    <p class="feature-text">
                        Browse the best restaurants by category in Zaragoza
                    </p>
                </div>
            </div>

            <!-- Feature: Contact -->
            <div class="col-12 col-md-3 mb-2">
                <div class="feature-image mb-2">
                    <a href="{% url 'contact' %}" aria-label="contact">
                        <i class="fa-solid fa-message fa-5x"></i>
                    </a>
                </div>
                <h3 class="feature-title">Contact</h3>
                <p class="feature-text">
                    Get in contact with us to collaborate
                </p>
            </div>

            <!-- Feature: About -->
            <div class="col-12 col-md-3 mb-2">
                <div class="feature-image mb-2">
                    <a href="#about" aria-label="about">
                        <i class="fa-solid fa-address-card fa-5x"></i>
                    </a>
                </div>
                <h3 class="feature-title">About</h3>
                <p class="feature-text">
                    Learn more about us
                </p>
            </div>
        
        {% if not user.is_authenticated %}
            <!-- Feature: Login (only shown to anonymous users)-->
            <div class="col-12 col-md-3 mb-2">
                <div class="feature-image mb-2">
                    <a href="{% url 'account_login' %}" aria-label="login">
                        <i class="fa-solid fa-right-to-bracket fa-5x"></i>
                    </a>
                </div>
                <h3 class="feature-title">Login</h3>
                <p class="feature-text">
                    Login to interact with us
                </p>
            </div>
        {% endif %}

        </div>
    </div>
</section>

{% include "about/about.html" %}

{% endblock %}

{% block extrajs %}

<script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
        ({key: "AIzaSyAo-XWuOU0rWg7tpb9U7GlxzCj8JHaDtro", v: "weekly"});</script>
<script src="/static/js/maps.js"></script>
{% endblock %}
