/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500&family=Imperial+Script&family=Open+Sans:wght@300;500&display=swap');

/*--------------------------------------------General Styles*/
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background-color: rgb(252, 247, 242);
}

body {
    background-color: #F9FAFC;
}

.content {
    min-height: calc(100vh - 90px);
}

img {
    border-radius: 20px;
}

.page-title {
    padding-top: 30px;
    color: #4E5424;
    font-weight: 300;
    text-align: center;
    font-size: 27px;
}

/* Buttons */
.btn-signup,
.btn-edit {
    background-color: #4E5424;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #9DA57E;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-outline-dark {
    color: #4E5424;
}

.btn-outline-dark:hover {
    background-color: #4E5424;
    color: #fff;
}

.btn-green {
    background-color: #4E5424;
    color: #fff;
}

.btn-green:hover,
.btn-edit:hover,
.btn-delete:hover {
    box-shadow: 0px 0px 6px rgb(57, 57, 57) !important;
    color:#fff;
}

/*--------------------------------------------Home Page*/

/* Navbar */
.dropdown-menu .dropdown-item {
    padding: 0.5rem 1rem;  
    font-size: 1rem;       
    border: none;
}

.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus {
    background-color: #e9ecef; 
    color: #000;
}

.hero {
    background-color: #E8E4E2;
    margin-bottom: 30px;
}

.hero-text{
    font-size: 40px;
}

i {
    color: #B6BFB8;
    align-items: center;
}

i:hover {
    color: #4E5424; 
}

.carousel-item img {
  height: 350px; 
  width: 100%;
  object-fit: cover; 
}

.thin {
    font-weight: 300;
}

.feature-image {
    text-align: center;
}

.feature-text {
    text-align: center;
    font-size: 17px;
}

.feature-title {
    text-align: center;
}

.main-bg {
    background-color: #F9FAFC;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.restaurant-link {
    text-decoration: none;
    color: #4E5424;
}

.restaurant-title {
    margin-top: 10%;
    margin-left: 5%;
}

.link {
    color: #4E5424;
    text-decoration: underline;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.faded {
    color: rgb(172, 175, 175);
}

/*--------------------------------------------Restaurant Detail*/
.masthead {
    background-color: #E8E4E2;
}

/* Likes */
.like-wrapper {
  margin-top: 1rem; 
}

.like-action {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px; /* space between button and like count */
}

.like-action form {
  margin: 0; /* remove default margin */
}

.like-action button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.like-action button i {
  color: #4E5424;
  font-size: 1.2rem;
}

.like-action i:hover {
  box-shadow: 0px 0px 4px rgb(57, 57, 57) !important;
}

.like-action p {
  margin: 0;
}

.restaurant-name {
    font-family: 'Imperial Script';
    font-size: 3rem;
}

/* Footer */
.footer {
    background-color: #4E5424;
    color: rgb(252, 247, 242);;
    text-align: center;
    padding: 40px 20px;
    margin-top: auto;
    width: 100%;
}

footer p {
    font-size: 0.75rem;
}

.footer span {
    display: block;
}

.footer i {
    font-size: 1.5rem;
    margin: 10px 5px;
    color: #fff;
    transition: color 0.3s;
}

.footer i:hover {
    color: #142a2b;
}

/*--------------------------------------------About*/

/* Map */
#map {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    margin: 20px;
}

div.about-section {
    margin: 20px;
}

.about-zaragoza {
    margin-bottom: 20px;
}

.email{
    color:#000;
}

/*--------------------------------------------Browse Restaurants*/

/* Restaurant Cards */

.card-deck {
    margin: auto;
}

.card-deck img {
    border-radius: none;
}

.card:hover {
    box-shadow: 0px 0px 4px #4E5424 !important;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
    min-height: 250px;
}

.card-detail {
    border: none;
}

.card-title {
    font-size: 20px;
}

.card-title:first-letter{
    text-transform: capitalize
}

.card-text-1 .card-text-2 {
    font-size: 15px;
}

.restaurant-description {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1rem;
}

/* Pagination */
.page-link {
    color: #4E5424;
}

.page-link:hover {
    box-shadow: 0px 0px 4px #4E5424 !important;
}

/*--------------------------------------------Allauth Templates*/

.signup, .login {
    background-color: #E8E4E2;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #9DA57E;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.signup li {
    display: none;
}

.signup input, .login input {
    width: 90%;
    border: 1px solid #9DA57E;
    padding: 5px;
    margin: 5px 0 10px 0;
    background-color: #fff;
}

.signup label, .login label {
    display: block;
    color: #4E5424;
    font-weight: bold;
}

.login label[for="id_remember"] {
    display: inline;
}

.login #id_remember {
    width: 20px;
    display: inline;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
    -webkit-text-fill-color: #4E5424;
    font-family: 'Montserrat', sans-serif;
}

/*--------------------------------------------Contact Template*/
.contact {
    background-color: #E8E4E2;
    padding: 20px;
    border: 1px solid #9DA57E;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact input, .contact textarea {
    border: 1px solid #9DA57E;
    background-color: #fff;
}

.contact label {
    display: block;
    color: #4E5424;
    font-weight: bold;
}

.cover-text {
    /* Final rgba value sets the opacity so it is semi-transparent */
    background-color: rgba(241, 109, 107, .7);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}
