{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
            <h1 class="row justify-content-center page-title">Contact Us!</h1>
            <hr class="home-break">
            <br>
    <div class="row justify-content-center">
        <div class="col-11 col-md-8 col-lg-6 mt-3 mb-3">
            <form class="contact" method="POST">
                {{ contact_form | crispy }}
                {% csrf_token %}
                <button class="btn btn-outline-dark" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

